<%- include('partials/header'); -%>


<div class="container-fluid">
    <form action="/" method="post">
      <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Movie Name" name="movieName">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">GO</button>
      </div>
    </div>
    </form>
    </div>



<%- include('partials/footer'); -%>
